.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  background-color: #ff6600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.servicosOnline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: "#f4f4f4";
}

a:link.servicosOnlineLink {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited.servicosOnlineLink {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover.servicosOnlineLink {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active.servicosOnlineLink {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
